body { 
  margin: 0; 
  font-family: 'Open Sans Condensed', sans-serif;
}


.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center; 
}

.masthead {
  background-image: url("https://images.unsplash.com/photo-1428591501234-1ffcb0d6871f?q=80&fm=jpg&s=278c626b7114a36df2e52ce43dd1d5b1");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6em 0;
  border-top: solid 1em rgba(234, 56, 56, 0.9);
  border-bottom: solid 1em rgba(234, 56, 56, 0.9);
}

.masthead-intro {
  margin-bottom: 0.1em;
  color: white;
  font-size: 2em;
  font-family: 'Fredericka the Great', cursive;   
}

.masthead-heading {
  margin-top: -0.1em;
  color: rgba(234, 56, 56, 0.9);
  font-size: 6em;
  text-shadow: 0px 4px 0px black;
  font-family: 'Fredericka the Great', cursive;   
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin: 2em auto 0;
}

.introduction-section > p,
.location-section > p,
.content-footer > p,
.questions-section > p {
  font-weight: 400;
  letter-spacing: 0.05em;
}

h1 {  
  color: rgba(234, 56, 56, 0.9);
  font-size: 2em;  
}

h2 {
  color: #FFCF33;
  /*text-shadow: 1px 3px 6px #000;  */

}
 
p {
  font-size: 1.2em;
}

.content-footer {
  background-color: rgba(234, 56, 56, 0.9);
  padding: 4em 0;
  margin-top: 5em;
}

#cover-site {
  font-size: 1em;
}

#unsplash {  
  font-weight: bold;
}

.content-footer > p {  
  font-size: 2em;
  color: white;
  margin-top: -0.2em;
  margin-bottom: -0.3em;
}

.social {
  list-style: none;
  padding-right: 1.1em;
  margin-bottom: 0.6em;
}

.social > li {
  display: inline-block;
  margin-right: 1.5em;  
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-intro {
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1em;
    color: black;
  }
  .masthead-heading {
    font-size: 3em;
  }
}

@media only screen and (max-width: 630px) {
  .questions-section,
  .location-section,
  .introduction-section {
    padding: 2em;
  }
}

@media only screen and (max-width: 630px) {
  .questions-section {
    margin-bottom: -5em;
  }
}

@media only screen and (max-width: 630px) {
  .introduction-section {
    margin-top: -1em;
  }
}

@media only screen and (max-width: 630px) {
  .location-section > h1,
  .questions-section > h1 {
    margin-top: -3em;
  }
}

